@import './variables';

$header-height: 150px;
$navbar-width: 89px;
$color-primary: $bg;
$color-secondary: $bg;
$color-mobile: $bg;

.headerContainer * {
  font-family: 'Asgard Fit', 'arial';
}

.headerContainer {
  // Mobile first approach
  color: #000;

  .desktopHeader {
    display: none;
  }

  .mobileNavbar {
    display: flex;
    width: 100%;
    height: $header-height;

    position: fixed;
    bottom: 0;
    background-color: $color-mobile;
  }
}

// Media query for desktop views
@media (min-width: 48rem) {

  // Using 48rem (768px) as breakpoint
  .headerContainer .desktopHeader {
    display: flex;
  }

  .headerContainer .desktopHeader .topNavbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-left: 0;
    padding-left: 2rem;
    width: 100%;
    background-color: $bg;
    height: $navbar-width;
    padding-right: 6rem;
    .elt, .selected
    {
      text-decoration: none;
      color: $second-bg;
      font-size: 1rem;
      margin-left: 3rem;
      font-weight: 400;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
    }
    .selected 
    {
      margin-top:4px;
    }
    .selected::after
    {
      content: '';
      display: block;
      width: 30%;
      height: 3px;
      background-color: $second-bg;
      margin-top: 0.1px;

    }
    
  }

  .headerContainer .mobileNavbar {
    display: none;
  }
}