@import './variables';

.main 
{
	font-family: 'Asgard Fit', 'arial';
	background-color: $bg;
	width: 100%;
	height: calc(100vh - 89px);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	color: $second-bg;

	.jumbotron 
	{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		height: 100%;
		text-align: center;
		position: relative;

		.logo
		{
			margin-bottom: 2rem;
			margin-bottom: 0;
			font-size: 3rem;
			font-weight: 300;
		}
		.logo::after
		{
			content: '';
			display: block;
			width: 28%;
			height: 3.6px;
			background-color: $second-bg;

		}
		.title 
		{
			font-size: 3rem;
			font-weight: 200;
			margin-bottom: 2rem;
			text-align: start;
			margin-left:-7rem;
			margin-top: 10rem;
			// change font height space
			line-height: 1.2;
		}
		.last 
		{
			margin-left:22rem;
			margin-top: 2rem;
			font-weight: 200;
			font-size: 1.2rem;

		}
		.pedale1, .pedale2 {
			position: absolute;
		}
		
		.pedale1 {

		}
		
		.pedale2 {

		}
		
	}
	



}